@use "variables" as v;

.primary {
  padding: 0.3em;
  width: 100%;
  font-weight: bold;
  background-color: var(--primaryColor);
  border: solid 0.0625em var(--hover);
  border-radius: 600em;
  color: white;

  &:hover {
    background-color: var(--hover);
  }
}
.secondaryButton {
  color: #30abc2;
  border-radius: 1rem;
  border-color: #30abc2;
}
.primaryButton {
  background-color: #30abc2;
  border-radius: 1rem;
}

.actionBtn {
  width: 5em;
  background-color: white;
  border: solid 0.0625em v.$pink-button-color;
  border-radius: 600em;
  color: v.$pink-button-color;
  margin: 0 0.2em;

  &:hover {
    background-color: v.$pink-button-color;
    color: white;

  }
  &:focus {
    background-color: v.$pink-button-color;
    color: white;
  }
}
.smallPrimary {
  padding: 0.3em;
  width: 5em;
  background-color: var(--primaryColor);
  border: solid 0.0625em var(--hover);
  border-radius: 600em;
  color: white;

  &:hover {
    background-color: var(--hover);
  }
}