@use "variables" as v;


@import "normalize.css";

@font-face {
  font-family: Healthy First SemiBold;
  src: url(~/public/assets/font/Fredoka-SemiBold.ttf);
}



// @font-face {
//   font-family: Healthy First Bold;
//   src: url(~/public/assets/font/GoogleSans-Bold.otf);
// }

:root {
  //use for set variable
  --primaryColor: #32b3ca;
  --hover: #6fc6d6;
  --background: #b1dee6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;

  // @include v.tablet {
  //   // font-size: 14px;
  // }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

#root,
html,
body {
  height: 100%;
  width: 100%;
}

// align center 1 item in div tag
div.global-center {
  display: flex;
  justify-content: center;
}

div.gray-background {
  background-color: black;
  position: relative;
  opacity: 0.6;
  width: 100%;
  color: white;
  border-radius: 2em;
  padding: 0 2em;
}

.app-name {
  color: var(--primaryColor);
  line-height: 1.5625em;
  margin-bottom: 0;
}

.carousel,
.carousel .carousel-item,
.carousel-inner {
  height: 100%;
  // position: relative;
  @include v.mobile {
    
  }
  
}

.carousel-item > img {
  object-fit: cover;
  height: 100%;
}
