@import "normalize.css";

@font-face {
  font-family: Healthy First SemiBold;
  src: url(~/public/assets/font/Fredoka-SemiBold.ttf);
}

// @font-face {
//   font-family: Healthy First Bold;
//   src: url(~/public/assets/font/GoogleSans-Bold.otf);
// }

:root {
  //use for set variable
  --primaryColor: #32b3ca;
  --hover: #6fc6d6;
  --background: #b1dee6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

#root,
html,
body {
  height: 100%;
}

// align center 1 item in div tag
div.global-center {
  display: flex;
  justify-content: center;
}

.app-name {
  color: var(--primaryColor);
}

.carousel,
.carousel .carousel-item {
  height: 100%;
  position: relative;
}

.carousel-item img {
  // position: absolute;
  object-fit: cover;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  min-height: 525px;
  max-height: 525px;
}
